/* MAIN PAGE */

body {
	background-color: black;
	color: white;
	margin: 0;
	font-family: monospace;
}

.main-title {
	padding-top: 5rem;
	text-align: center;
	font-size: medium;
}

/* SAMPLE GRID */

.sample-container {
	width: 50%;
	margin: auto;
}

.sample-grid {
	display: grid;
	margin: auto;
	grid-template-columns: auto auto auto;
	margin-top: 10%;
}

.sample, .add-sample-button {
	border: thin solid white;
	padding: 20%;
	margin: auto;
	margin-bottom: 20%;
}

.add-sample-button {
	font-size: 1rem;
}

.sample:hover, .add-sample-button:hover {
	background-color: white;
	color: black;
	cursor: pointer;
}

/* POPUP */

.popup-container {
	position: fixed;
	z-index: 1;
	padding-top: 15%;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: black;
}

.popup-wrapper {
	margin: auto;
	padding: 5%;
	border: thin solid white;
	width: 30%;
}

.hidden {
	display: none;
}

/* FORM */

.form-label {
	width: 100%;
	padding: 1rem;
}

.file-form {
	display: flex;
	justify-content: center;
	justify-self: center;
	text-align: center;
	flex-flow: row wrap;
}

.text-input {
	border: none;
	outline: none;
	box-shadow: none;
}

#quit-popup {
	border: 0;
	padding: 1%;
	margin: 1%;
	background-color: white;
	color: black;
}